<!DOCTYPE html>
<html>
  <head>
    <title>Eventurous</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="flex col">
    
    <header>
      <a href="/">
        <h1>EVENTUROUS</h1>
      </a>
      <% if (user) { %>
      <nav class="flex row">
        <a href="/">Home</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/">All Events</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/posts/new">Post an Event</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/venues/index">Venues</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/logout">Log Out</a>
      </nav>
      <% } else { %>
        <nav class="flex row">
          <a href="/">Home</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/">All Events</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/posts/new">Post an Event</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/venues/index">Venues</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/login">Log In</a>
        </nav>
      <% } %>
      
    </header>