<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Night Out</h1>
    <p>Plan Your Next Outting</p>
    <nav>
        <a href="/">Home</a>
        <% if (user) { %>
            <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </nav>