<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="flex col">
    <nav class="flex row">
      <% if (user) { %>
        <a href="/">Home</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/">All Events</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/posts/new">Post an Event</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/venues/index">Venues</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/logout">Log Out</a>
        <% } %>
    </nav>
    <header>
      <a href="/">
        <h1>Night Out</h1>
        <p>Plan Your Next Outting</p>
      </a>
    </header>