* {
  box-sizing: border-box;
  color: #B0DDC2;
  font-family: 'Alfa Slab One', cursive;
}

:root {
  --five-per: 5%;
  --point: pointer;
  --center: center;
  --sp-ev: space-evenly;
  --bor: 2px solid;
  --bor-rad: 25px;
}

body {
  width: 100vw;
  margin: 0 auto;
  padding: 50px;
  background-color: #62676A;
}

a {
  text-decoration: none;
}

a:hover, a > h3:hover {
  cursor: var(--point);
  color: rgb(189, 188, 188);
  text-decoration: underline;
}

nav {
  margin: 0;
  width: 100%;
  justify-content: var(--sp-ev) !important;
  position: fixed;
  top: 2.5%;
}

header {
  width: 100%;
  text-align: var(--center);
  border-radius: var(--bor-rad);
  margin-bottom: 7%;
}

header h1 {
  font-size: 4.5em;
  letter-spacing: 2px;
}

section, header, nav {
  background-color: #0C2427;
}

section {
  height: 170px;
  border-radius: var(--bor-rad);
  margin: 2%;
}

textarea {
  color: #0C2427;
  font-size: 1.25em;
  height: 55px;
  width: 65%;
  border-radius: 15px;
}

input {
  width: 200px;
  height: 50px;
  color: #0C2427;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0C2427;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  font-size: 1.5em;
  cursor: var(--point);
}

.flex {
  display: flex;
  justify-content: var(--center);
  align-items: var(--center);
}

.grid {
  display: grid;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.title {
  grid-area: header;
  justify-self: center;
}

.content {
  grid-area: body;
}

.footer {
   grid-area: footer;
}

.fa-trash-alt {
  color: #ff0000 !important;
}
.fa-trash-alt:hover {
  color: #fff !important;
}

/* ------- Sign-Up -------- */
#sign-up {
  justify-content: var(--sp-ev);
  height: 300px;
  width: 300px;
}

#sign-up > .login {
  height: 34px;
}

#sign-up > .login img {
  height: 50px;
}

/* ------------------ */

#post, #show-post {
  width: 75%;
  align-items: center;
  justify-content: space-around !important;
}

/* ------- Show-Page ------- */
#show-post {
  grid-template-areas: 
  "header header header"
  "body body body"
  "footer footer footer";
}

#show-post .title {
  font-size: 1.5em;
}

#show-post .edit {
  justify-self: end;
}

/* -------- Index Page --------- */

#post-div {
  width: 100%;
}

#post {
  grid-template-areas: 
  "header"
  "body"
  "footer";
}

#post > aside {
  display: inline-block;
  height: 50px;
  text-align: left;
}

#post-user, #delete-post {
  margin: 0;
  text-align: center;
  background-color: transparent;
}

#delete-post > form > button {
  width: 50px;
  height: 50px
}

#delete-post > form > button:hover {
  background-color: #ff0000;
}

/* ----- Edit Page ----- */

#edit-post {
  height: 350px;
}

#new-post {
  align-items: center;
  justify-content: var(--center);
  height: 450px;
  width: 35%;
}

#new-post > form > div {
  margin-bottom: 2%;
  height: 20%;
}

#new-post > form > div > input, 
#edit-post > form > div > input {
  height: 30px;
  width: 75%;
  margin: 1%;
}

#new-post > button {
  align-self: center;
}

#user > img, #post-user > img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 10%;
}

#comment {
  border: 1px solid;
  width: 30%;
  min-height: 75px;
  justify-content: var(--sp-ev) !important;
}

#comment > #content {
  width: 50%;
  line-height: 20px;
}

#categ-name {
  width: 200px;
  height: 50px;
  cursor: var(--point);
}

#venue {
  height: 150px;
  width: 350px;
  text-align: center;
}

#near-me {
  width: 200px;
  font-size: 1em;
  margin-bottom: 10%;
  margin-top: 0;
}

#venue-list {
  width: 100%;
  flex-flow: row wrap;
}