<%- include('../partials/header') %>

<<form class="flex col" action="/venues/index" method="POST">
    <label>Venue Name</label>
    <input name="name" type="text" required>
    <label>Street Address</label>
    <input name="address" type="text">
    <label>City</label>
    <input name="locality" type="text" required>
    <button type="submit">Save</button>
</form>


<%- include('../partials/footer') %>