<%- include('../partials/header') %>

<form class="flex row" action="/categories/index" method="POST">
    <label>Add Category</label>
    <input name="name" type="text">&nbsp;
    <button type="submit"><i class="fas fa-plus"></i></button>
</form>

<%- include('../partials/footer') %> 