<%- include('../partials/header') %>
    <form class="add-event grid" action="/posts" method="POST">
        <div class="grid">
            <label>Title: </label>
            <input type="text" name="title" required>

            <label>Category: </label>
            <input type="text" name="category">

            <label>Date: </label>
            <input name="date" type="date">

            <label>Venue: </label>
            <input type="text" name="venue" required>
     
            <label>Location: </label>
            <input type="text" name="location" required>
            
            <label>Add Link: </label>
            <input type="url" name="link">
        </div>
        <button class="flex" type="submit">Post</button>
    </form>

<%- include('../partials/footer') %> 